html, body{
    width: 100%;
    height: 100%;
    font-family: "MorganSnCaps", Sans-serif;
    overflow: hidden;
}

#myDiagramDiv{
    width:100%;
    height:100%;
    background-color: #DAE4E4;
}

#logo{
  top: 0;
  padding-right: 1%;
  z-index: 10;
  max-height: 100%;
}

#save{
  position: relative;
  top: 5%;
  width: 92%;
  height: 5%;
  background-color: #006699;
  border: 0px;
  border-radius: 5px;
  color: white;
  left: 48.5%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
#refresh{
  position: fixed;
  bottom: 1%;
  left: 1%;
  width: 5%;
  height: 5%;
  background-color: #006699;
  border: 0px;
  z-index: 10000;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

#top-bar {
  position: fixed;
  top: 0;
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px 0px;
  z-index: 10;
}

/* Style the select element */
select {
  width: 200px; /* set the width to your desired size */
  height: 40px; /* set the height to your desired size */
  border-radius: 20px; /* set the border radius to half the height for a more round shape */
  background-color: white; /* set the background color to white */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* add a subtle box shadow */
  appearance: none; /* remove the default appearance to allow custom styling */
  padding: 4px; /* add some padding to the text inside the select element */
  font-size: 16px; /* set the font size to your desired size */
  color: black; /* set the text color to black */
  text-align: center;
  margin: 10px;
}

/* Style the dropdown options */
option {
  font-size: 16px; /* set the font size to your desired size */
  font-weight: bold; /* set the font weight to bold */
  color: black; /* set the text color to black */
}

#filtrar {
  margin-left: 5px;
  background-color: #006699;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 6px 30px;
  font-size: 16px;
}

#filtrar:hover {
  background-color: #0055cc;
  cursor: pointer;
}

#filtrar:focus {
  outline: none;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -350px; /* start off-screen */
    width: 350px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #ddd;
    z-index: 11;
    overflow-y: auto;
}

#sidebar-content{
    position: relative;
    top: 50px;
    padding: 20px;
}

#select-field{
    position: relative;
    top: 25px;
    right: 10px;
    left: 10px;
}

#close-button{
    position: absolute;
    top: 5px;
    background: none;
    border: 0;
}
  
.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

#select-field{
    border-radius: 10px;
    background: none;
    border: 2px solid #006699;
}

#add-button{
    position: relative;
    top: 42px;
    background: none;
    border: 0;
}

#sidebar.open {
  right: 0; /* slide into view */
}

#sidebar-content {
  padding: 10px;
}

#close-button {
  margin-top: 10px;
  margin-right: 10px;
  z-index: 100;
}

.node-selected {
  background-color: lightgray;
}
content {
  padding: 20px;
  z-index: 10;
}
  